.chat {
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height : 75vh;
    overflow : hidden;
    overflow-y : scroll;
    scroll-behavior: smooth;
}

.chat-input-holder {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position : relative;
    top : -8px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.chat .message {
    margin-bottom: 10px;
}

.chat .message .avatar {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.chat .message .text {
    display: inline-block;
    vertical-align: top;
    max-width: 70%;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
}

.chat .message .text p {
    margin: 0;
    line-height: 1.5;
}

.chat .message .time {
    font-size: 12px;
    color: #999;
    margin-left: 10px;
}

.chat .message.sent .text {
    background-color: #dcf8c6;
}

.chat .message.sent .text:after {
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: 10px;
    border: 10px solid transparent;
    border-left-color: #dcf8c6;
}

.chat .message.received .text {
    background-color: rgb(220, 247, 252);
}

.chat .message.received .text:after {
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    top: 10px;
    border: 10px solid transparent;
    border-right-color: #fff;
}

.chat .message.received .avatar {
    background-color: #c4e0de;
}

.chat .message.sent .avatar {
    background-color: #ffc107;
}

.chat .message.sent .time {
    text-align: right;
}

.chat .message.received .time {
    text-align: left;
}

.chat .message.system .text {
    background-color: #ccc;
    color: #fff;
    font-weight: bold;
    font-size : 15px;
    display : block;
    margin : auto;
    text-align: center;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #F5F5F5;
    border-radius: 25px;
    width: 100%;
  }
  
  .chat-input-field {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    font-size: 14px;
    padding: 10px;
    margin-right: 5px;
    outline: none;
  }
  
  .chat-send-button {
    background-color: #0084FF;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }
  
  .chat-send-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .fa-paper-plane {
    margin-left: 1px;
  }
  
  @media only screen and (max-width: 600px) {
    .chat-input {
      padding: 5px;
      border-radius: 20px;
    }
    
    .chat-input-field {
      font-size: 12px;
      padding: 8px;
    }
    
    .chat-send-button {
      width: 35px;
      height: 35px;
      font-size: 14px;
    }
  }

  .view-more-messages {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .btn-view-more {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 25px;
    padding: 5px 20px;
    font-size: 11px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-view-more:hover {
    background-color: #333;
    color: #fff;
  }